<?xml version='1.0' encoding='utf-8'?>
<widget id="sk.sng.filko" version="1.0.0" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Filko</name>
    <description>
      Audio guide for Filko exhibition at Slovak National Gallery
  </description>
    <author email="lab@sng.sk" href="http://lab.sng.sk">
        lab.SNG
    </author>
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />

    <!-- disable scroll out of boundaries -->
    <preference name="DisallowOverscroll" value="true" />

    <!-- splashscreen settings -->
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="100" />
    <preference name="ShowSplashScreenSpinner" value="false"/>

    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="deployment-target" value="7.0" />
    <preference name="android-build-tool" value="ant|gradle" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-maxSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    <engine name="ios" spec="~4.1.1" />
    <engine name="android" spec="~5.1.1" />

    <platform name="ios">
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/Icon-60.png" width="60" height="60" />
        <icon src="res/ios/Icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/Icon-60@3x.png" width="180" height="180" />

        <icon src="res/ios/Icon-Small-40.png" width="40" height="40" />
        <icon src="res/ios/Icon-Small-40@2x.png" width="80" height="80" />
        <icon src="res/ios/Icon-Small-40@3x.png" width="120" height="120" />

        <icon src="res/ios/Icon.png" width="57" height="57" />
        <icon src="res/ios/Icon@2x.png" width="114" height="114" />

        <!-- iPad -->
        <icon src="res/ios/Icon-72.png" width="72" height="72" />
        <icon src="res/ios/Icon-72@2x.png" width="144" height="144" />

        <icon src="res/ios/Icon-76.png" width="76" height="76" />
        <icon src="res/ios/Icon-76@2x.png" width="152" height="152" />

        <icon src="res/ios/Icon-Small.png" width="29" height="29" />
        <icon src="res/ios/Icon-Small@2x.png" width="58" height="58" />
        <icon src="res/ios/Icon-Small@3x.png" width="87" height="87" />

        <icon src="res/ios/Icon-Small-50.png" width="50" height="50" />
        <icon src="res/ios/Icon-Small-50@2x.png" width="100" height="100" />

    </platform>

    <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/android/48.png" density="mdpi" />
        <icon src="res/android/72.png" density="hdpi" />
        <icon src="res/android/96.png" density="xhdpi" />
        <icon src="res/android/144.png" density="xxhdpi" />
        <icon src="res/android/192.png" density="xxxhdpi" />

    </platform>    
</widget>
